body{
	width:100%;
	height:100%;
}


#message-box{
	position:relative;
	top:0px;
	left:83%;
	border: solid black 1px;
	width:200px;
	height:200px;
	
}
#top{
	position:relative;
	top:200px;
	left:45%;
}
#start{
	width:100px;
	height:30px;
	background-color:#66CCFF;
	color:white;
	border:none;
	border-radius:5px;
}
#initial{
	position:relative;
	top:100px;
	color:black;
	text-align:center;
}